:root {
    --speech_color : rgb(242, 207, 190);
    --speech_border : brown;
}
* {
    margin:0;
    padding :0;
    font-family: 'Cambria';
}

.p {
    white-space: pre-line;
}
body {
    overflow-x: hidden;
}
div#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

/* tableau de données avec les lignes de couleur noire entre chaque ligne */
table.data {

    width: 60%;
    margin-bottom: 1em;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Cambria';
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Style pour les cellules du tableau */
table.data td {
    border: 1px solid #2e2c2c; /* Ajout d'une bordure aux cellules */
    padding: 8px; /* Ajout d'un espace intérieur aux cellules */
}


div#input_data_table {
    width: 30%;
    min-height: 20vh; /* Hauteur minimale pour s'assurer que la div n'est pas trop petite */
    background-color: rgb(180, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px rgb(133, 133, 133);
    border-radius: 25px;
    border: 3px solid var(--speech_border);
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
    float: left;
}

div#output_data_table {
    width: 30%;
    min-height: 20vh; /* Hauteur minimale pour s'assurer que la div n'est pas trop petite */
    background-color: rgb(180, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px rgb(133, 133, 133);
    border-radius: 25px;
    border: 3px solid var(--speech_border);
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
    float: right;
    display: none;
}
div.table_text {
    /* placé en haut à gauche de la div parent (input_data_table) */
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(240, 240, 240, 0.692);
    box-shadow: 5px 5px 8px rgb(133, 133, 133);
    position: absolute;
    top: 0;
    left: 0;
}


div#top_bar {
    width:100vw;
    height: 90px;
    background-color: var(--speech_border);
    display:flex;
    align-items: center;
    justify-content: center;
}



table.tjs-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1em;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Cambria';
    font-size: 16px;
}

table.tjs-table tbody {
    border: 1px solid #ccc;

}

div.powered-by {
    display: none;
}

div.decision-table-name {
    font-family: 'Cambria';
    font-size: 20px;
    font-weight: bold;
}

table.tjs-table thead {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

table.tjs-table th,
table.tjs-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

div#screen_data {
    width: 70vw;
    height: 47vh;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  div#top_bar_data {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(240, 240, 240, 0.692);

    border: 3px solid var(--speech_border);

  }
  
  div#canvas {
    position: absolute;
    top: 45px;
    width: 100%;
    height: calc(49vh - 50px); /* Subtract the height of the top bar from the height of the screen data */
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
div#title_data {
    text-align: left;
    margin: 0;
    padding: 0;
}
footer {
    width:100vw;
    height: 80px;
    background-color: var(--speech_border);
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -3px 5px rgb(133, 133, 133);
    position: absolute;
    bottom: -100px;
}

div#footer_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--speech_border);
    gap: 20px;
    font-family: 'Cambria';

}
p#title {
    font-size: 30px;
    font-weight: bold;
    color: var(--speech_color);
}
div.speech {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--speech_color);
    border-top: 5px solid var(--speech_border);
    width:600px;
}
div#speech1 {
    width:300px;
}

div#speech3 {
    width:90%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap:2px;
}

.line {
    width:100vw;
}
#line1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}
#line2_style {
    padding: 25px;
    box-sizing: border-box;
    border-bottom: 3px solid var(--speech_border);
    border-top: 3px solid var(--speech_border);
    background-color: rgba(240, 240, 240, 0.692);
    margin-bottom: 25px;

    width: 80%;
    border-radius: 25px;
    box-shadow: 5px 5px 8px rgb(133, 133, 133);
    border: 3px solid var(--speech_border);
}
#line2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#variable_to_predict {
    width:80%;
}
.underline {
    text-decoration: underline;
}
#speech1:after {
    content: '';
    position:absolute;
    width: 0;
    border-style: solid;
    border-width: 35px 25px 0 0;
    border-color: var(--speech_color) transparent transparent transparent;
    transform: rotate(30deg);
}

#btn_download {
    height: 50px;
    width: 200px;
    border : 3px solid rgb(153, 0, 0);
    background-color: orange;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family: 'Cambria';
    font-size: 16px;
}